@import "tailwindcss";

@font-face {
  font-family: Doto;
  src: url(./assets/fonts/Doto-VariableFont_ROND\,wght.ttf);
}

@font-face {
  font-family: Lato-Black;
  src: url(./assets/fonts/Lato-Black.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(./assets/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato-Regular.ttf);
}

@theme {
  --color-tisco-light: #f5f7fa;
  --color-tisco-gray: #a7b1bc;
  --color-tisco-navy: #0a3764;
  --color-tisco-green: #2ecc71;
  --color-tisco-yellow: #f1c40f;
  --color-tisco-red: #e74c3c;
}

body {
  @apply text-tisco-navy bg-black font-[Lato];
}

article {
  @apply bg-tisco-light rounded-xl p-5 shadow-md transition-all hover:shadow-lg;
}

h1 {
  @apply py-10 font-[Lato-Black] text-4xl font-bold;
}
h2 {
  @apply pb-5 font-[Lato-Bold] text-xl font-bold;
}
