@import 'tailwindcss';
@plugin 'daisyui';

@import '@assets/styles/colors.css';
@import '@assets/styles/buttons.css';
@import '@assets/styles/fonts.css';
@import '@assets/styles/text.css';
@import '@assets/styles/tiles.css';

.tisco-maxwidth {
  @apply max-w-[1600px];
}
