@import 'tailwindcss';

@import '@assets/styles/fonts.css';
@import '@assets/styles/text.css';

@theme {
  --font-doto: 'Doto', monospace;
  --font-lato: 'Lato', Arial;
  --font-lato-black: 'Lato-Black', Arial;
  --font-lato-bold: 'Lato-Bold', Arial;

  --color-tisco-light: #f5f7fa;
  --color-tisco-gray: #a7b1bc;
  --color-tisco-navy: #0a3764;
  --color-tisco-green: #2ecc71;
  --color-tisco-yellow: #f1c40f;
  --color-tisco-red: #e74c3c;
}

.tisco-maxwidth {
  @apply max-w-[1600px];
}

.tisco-tile {
  @apply grow rounded-md bg-white p-10 shadow-lg;
}
