.btn-green {
  @apply bg-tisco-green text-tisco-navy;
}

.btn-red {
  @apply bg-tisco-red text-white;
}

.btn-yellow {
  @apply bg-tisco-yellow text-tisco-navy;
}

.btn-blue {
  @apply bg-tisco-navy text-white;
}

.btn-gray {
  @apply bg-tisco-light text-tisco-navy;
}
