@theme {
  --color-tisco-light: #f5f7fa;
  --color-tisco-gray: #a7b1bc;
  --color-tisco-navy: #0a3764;
  --color-tisco-green: #2ecc71;
  --color-tisco-yellow: #f1c40f;
  --color-tisco-red: #e74c3c;
}
