@font-face {
  font-family: Doto;
  src: url(@assets/fonts/Doto-VariableFont_ROND\,wght.ttf);
}

@font-face {
  font-family: Lato-Black;
  src: url(@assets/fonts/Lato-Black.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(@assets/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato;
  src: url(@assets/fonts/Lato-Regular.ttf);
}

@theme {
  --font-doto: 'Doto', monospace;
  --font-lato: 'Lato', Arial;
  --font-lato-black: 'Lato-Black', Arial;
  --font-lato-bold: 'Lato-Bold', Arial;
}
