@font-face {
  font-family: Doto;
  src: url(@assets/fonts/Doto-VariableFont_ROND\,wght.ttf);
}

@font-face {
  font-family: Lato-Black;
  src: url(@assets/fonts/Lato-Black.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(@assets/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato;
  src: url(@assets/fonts/Lato-Regular.ttf);
}
